<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.mailadmin.mapper.ProductsMapper">
    <update id="updateProducts">
        update products
        <set>
            <if test="name != null">
                name = #{name},
            </if>
            <if test="description != null">
                description = #{description},
            </if>
            <if test="imageUrl != null">
                image_url = #{imageUrl},
            </if>
            <if test="categoryId != null">
                category_id = #{categoryId},
            </if>
            <if test="price != null">
                price = #{price},
            </if>
             <if test="stock != null">
                stock = #{stock},
           </if>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
        </set>
    </update>



    <delete id="deleteProductsByIds">
        delete from products where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>



    <select id="PageQuery" resultType="com.example.mailadmin.entity.Products">
    select * from products
  <where>
    <if test="name != null">
      and name like '%${name}%'
    </if>
    <if test="categoryId != null">
      and category_id = #{categoryId}
    </if>
    <if test="status != null">
      and status = #{status}
    </if>
  </where>
    </select>

    <update id="updateStock">
        update products
        set stock = #{stock},
            update_time = now()
        where id = #{id}
    </update>

    <update id="batchUpdateStock">
        update products
        set stock = case id
        <foreach collection="stockUpdateList" item="item" separator="">
            when #{item.id} then #{item.stock}
        </foreach>
        end,
            update_time = now()
        where id in
        <foreach collection="stockUpdateList" item="item" separator="," open="(" close=")">
            #{item.id}
        </foreach>
    </update>

    <update id="enable">
        update products
        set status = 1,
            update_time = now()
        where id in
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>

    <update id="disable">
        update products
        set status = 0,
            update_time = now()
        where id in
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>
</mapper>
