<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.mailuser.mapper.UserPaymentMapper">

    <!-- 插入支付记录 -->
    <insert id="insert" parameterType="com.example.mailadmin.entity.Payments">
        insert into payments (order_id, payment_method, amount, status, pay_time)
        values (#{orderId}, #{paymentMethod}, #{amount}, #{status}, #{payTime})
    </insert>

    <!-- 根据订单ID查询支付记录 -->
    <select id="getByOrderId" parameterType="java.lang.Long" resultType="com.example.mailadmin.entity.Payments">
        select * from payments where order_id = #{orderId}
    </select>

    <!-- 更新支付状态 -->
    <update id="updateStatus">
        update payments
        set status = #{status}
        where payment_id = #{paymentId}
    </update>

</mapper>