<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.mailuser.mapper.UserOrdersMapper">


    <select id="PageQuery" resultType="com.example.mailuser.entity.Orders">
        select * from orders
        <where>
            <if test="userId != null">
                and user_id = #{userId}
            </if>
            <if test="orderStatus != null">
                and order_status = #{orderStatus}
            </if>
            <if test="name != null">
                and name like concat('%',#{name},'%')
            </if>
        </where>
    </select>

    <select id="getOrderByIdAndUserId" resultType="com.example.mailuser.entity.Orders">
        select * from orders
        where order_id = #{orderId} and user_id = #{userId}
    </select>

    <update id="updateOrderStatus">
        update orders
        set order_status = #{orderStatus}, update_time = CURRENT_TIMESTAMP
        where order_id = #{orderId}
    </update>

    <update id="updateOrderForPayment">
        update orders
        set order_status = #{orderStatus}, 
            payment_method = #{paymentMethod}, 
            pay_time = CURRENT_TIMESTAMP, 
            update_time = CURRENT_TIMESTAMP
        where order_id = #{orderId}
    </update>
</mapper>